node_modules/
dist/
.vite/

*.log
*.log.*
npm-out*.log
npm-err*.log
tsc-out*.log
tsc-err*.log
vite-out*.log
vite-err*.log
vite-out*.txt
vite-err*.txt

.DS_Store
Thumbs.db

.idea/
.vscode/
*.swp
*.swo

.trae/
